{% extends "base.html" %}
{% block title %}Отели{% endblock %}

{% block main_block %}
<h1 style="text-align: center">Отели</h1>
{% for hotel in object_list %}
    <div class="main_block_elem">
        <h2>{{ hotel.name }}</h2>
        Адрес: {{ hotel.adress }}<br>
        {% if hotel.description is not Null %}
        Описание: {{ hotel.description }}
        {% endif %}
    </div>
{%  empty %}
    <div class="main_block_elem">
        <h2>Пока ни одного отеля</h2>
    </div>
{% endfor %}
{% endblock %}
